{#
# states/service/rtorrent/rtorrent.rc
# EugeneKay/srv-salt
-#}
#
# /etc/rtorrent.rc
#
# WARNING: This file is managed by Salt. Any changes you make WILL be erased!
#
# rtorrent daemon configuration

directory = {{directory}}
session = ~/sessions/

peer_exchange = no
tracker_numwant = -1
use_udp_trackers = yes
port_range = {{port}}-{{port}}
dht_port = {{port}}
dht = auto
bind = {{bind}}

min_peers = 5
max_peers = 25
min_peers_seed = 5
max_peers_seed = 25

max_downloads_global = 25
max_uploads_global = 25
max_uploads = 5

download_rate = {{download_rate}}
upload_rate = {{upload_rate}}

check_hash = yes
system.file_allocate.set = yes
encryption = allow_incoming,enable_retry

scgi_local = /srv/rtorrent/scgi.socket

system.umask.set = 002

execute = {sh,-c,/usr/bin/php /srv/html/rtorrent/php/initplugins.php &}
