{#
# states/service/firewall/files/ip6tables.config
# EugeneKay/srv-salt
-#}
#
# /etc/sysconfig/ip6tables-config
#
# WARNING: This file is managed by Salt. Any changes you make WILL be erased!
#
# ip6tables firewall configuration
#

# Additional modules
IP6TABLES_MODULES=""

# Unload module on stop
IP6TABLES_MODULES_UNLOAD="yes"

# Stop/restart behaviour
IP6TABLES_SAVE_ON_STOP="yes"
IP6TABLES_SAVE_ON_RESTART="no"
IP6TABLES_SAVE_COUNTER="no"

# Status output
IP6TABLES_STATUS_NUMERIC="yes"
IP6TABLES_STATUS_VERBOSE="no"
IP6TABLES_STATUS_LINENUMBERS="yes"
