{#
# states/service/firewall/files/iptables.config
# EugeneKay/salt
-#}
#
# /etc/sysconfig/iptables-config
#
# WARNING: This file is managed by Salt. Any changes you make WILL be erased!
#
# iptables firewall configuration
#

# Additional modules
IPTABLES_MODULES=""

# Unload module on stop
IPTABLES_MODULES_UNLOAD="yes"

# Stop/restart behaviour
IPTABLES_SAVE_ON_STOP="yes"
IPTABLES_SAVE_ON_RESTART="no"
IPTABLES_SAVE_COUNTER="no"

# Status output
IPTABLES_STATUS_NUMERIC="yes"
IPTABLES_STATUS_VERBOSE="no"
IPTABLES_STATUS_LINENUMBERS="yes"
